<div class="wrapper container">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <img src="/assets/sexplainedWhite.svg"/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12" id="logIn">
            <form #formulario ="ngForm" (ngSubmit)="enviarFormulario()">
                <div class="form-group">
                    <label for="name" class="whiteText">Nombre</label>
                    <input required type="text" class="form-control" id="name" name="name" placeholder="Ingresa tu Nombre" [(ngModel)]="admin.name">
                </div>
                
                <div class="form-group">
                    <label for="email" class="whiteText">Correo</label>
                    <input  required type="email" class="form-control" id="mail" name="mail" placeholder="Ingresa tu correo" [(ngModel)]="admin.mail">
                </div>
                
                <div class="form-group">
                    <label for="phone" class="whiteText">Telefono</label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Ingresa tu telefono" [(ngModel)]="admin.phone">
                </div>
                
                <div class="form-group">
                    <label for="password" class="whiteText">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu contraseña" [(ngModel)]="admin.password">
                </div>
                <div class="form-group">
                    <label for="passwordCheck" class="whiteText">Repetir Contraseña</label>
                    <input type="password" class="form-control" id="passwordCheck" name="passwordCheck" placeholder="Ingresa tu contraseña" [(ngModel)]="passwordcheck.check">
                </div>
                
                <div class="form-group">
                    <label for="passwordCheck" class="whiteText">Sobre ti...</label>
                    <textarea rows=4 class="form-control" id="info" name="info" placeholder="Opcional" [(ngModel)]="admin.info"></textarea>
                </div>
                <div class="centerText" id="passCheckLabel">{{error}}</div>
                
                <input type="submit" class="btn btn-primary centered logInBtn" value="Registrarse">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="whiteText centerText"><a href="/registro" class="whiteText"><u>Regresar</u></a></p>
        </div>
    </div>
</div>
<img src="../../assets/images/ovulo.png" id="bgImg1" alt="">
<img src="../../assets/images/espermas.png" id="bgImg2" alt="">