$pink:#E21A7F;
$blue:#5298CE;


$darkgray:#292C2F;
$dimgray:#BFC0C1;
$gray:#F4F6F6;
$white:#FFFFFF;

$chatgreen:#A6EB99;
$chatblue:#B6D7E4;

$red:#FF0000;

$Poppins:'Poppins',
sans-serif;
$Serif:'Jomolhari',
serif;
;

@mixin containImg {
    overflow: hidden;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin shadow {
    -webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0px 20px rgba(0, 0, 0, .5);
    box-shadow: 0 0px 20px rgba(0, 0, 0, .5);
}

@mixin contrast {
    color: $white;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}


body {
    margin: 0;
    margin-left: 100px;
}

.white {
    color: $white;
}

a,
p,
h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

#menu {
    position: fixed !important;
}

.home {
    position: relative;
    height: 100%;
    margin-left: 100px;
    transition: margin 1s ease;
}

.container {
    max-width: none !important;
    width: 95% !important;
    padding: 0 !important;
}

.row {
    width: 100%;
    margin: 0 auto !important;
    padding: 0 !important;
}

.logo {
    max-width: 300px;
    width: 60%;
    margin: 20px;
}

.searcher {
    padding: 17px;
    width: 70%;
    margin: 0 auto;
    display: block;
    padding-left: 45px !important;
    border: 1px solid $gray;
    font-size: 13px;
    color: gray;
    background-image: url(/assets/search.svg);
    background-repeat: no-repeat;
    background-position: left center;
    outline: 0;
    border-radius: 100px;
    background-color: $gray;

}

@media(max-width: 700px) {

    body,
    .home {
        margin-left: 0px !important;
    }
}