$pink:#DA5A90;
$blue:#5298CE;


$darkgray:#292C2F;
$gray:#F4F6F6;
$white:#FFFFFF;

$chatgreen:#A6EB99;
$chatblue:#B6D7E4;

$red:#FF0000;

$Poppins:'Poppins', sans-serif;

/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    margin-left: 100px;
}

.white{
    color: white;
}

body {
  font-family: "Poppins", sans-serif;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
}