@import '../../styles.scss';
.card-container{
    margin: 20px 0;
}
.tt {
    width: 40%;
    background-color: #FF5455;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    border-radius: 7px;
}