<app-sidemenu isUser="0" activeTab="/adminHome"></app-sidemenu>
<div class="home">
    <div class="container">
        <img class="logo" src="assets/sexplained.svg" alt="">
        <input [(ngModel)]="searcher" (ngModelChange)="dataChanged($event)" name="searcher" value="{{searcher}}" class="searcher" type="text" placeholder="{{ 'cards.buscar' | translate}}">

        <div class="row justify-content-start">
            <div class="card-container col col-lg-4 col-md-6 col-sm-12" *ngFor="let card of cards">
                <app-card userId={{id}} isUser='0' id="{{card.id}}" banner="{{card.banner}}" title="{{card.title}}" text="{{card.text}}" date="{{card.date}}" authorId="{{card.author.id}}" authorName="{{card.author.name}}" authorAvatar="{{card.author.avatar}}" price="{{card.price}}"></app-card>
            </div>
        </div>
    </div>
    <div class="menu-container">
        <div class="hover-menu">
            <a href="add/survey">{{ 'menu.encuestas' | translate }}</a>
            <a href="add/modulos">{{ 'menu.modulos' | translate }}</a>
        </div>
        <a class="add"><i class="fa fa-plus"></i></a>
    </div>
</div>