@import '../../styles.scss';





#mobile-menu {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 20px;
    right: 20px;
    background-size: cover;
    background-image: url(/assets/ham.png);
    cursor: pointer;
    z-index: 10;

    display: none;

}

#menu {
    width: 100px;
    height: 100vh;
    background-color: $blue;
    margin: 0;
    overflow: hidden;
    transition: width .5s ease;

    z-index: 9999;
}

.block {
    height: 100px;
    width: 100px;
    padding-top: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    transition: background-color .3s ease;
    padding-bottom: 20px;
    cursor: pointer;

    i {
        text-align: center;
        display: block;
        font-size: 30px;
        margin-bottom: 5px;

    }

    p {
        text-align: center;
        color: white;
        font-weight: 600;
        font-size: 14px;

    }
    
    .white{
        background-color: transparent !important;
    }
}

.block.selected {
    background-color: $white;

    .white {
        color: $pink;
    }
}

.block:hover {
    background-color: rgba(0, 0, 0, .5)
}

.block.last {
    position: absolute;
    bottom: 0;
}


@media(max-width: 700px) {
    #mobile-menu {
        display: block;
        top: 15px;
        width: 40px;
        height: 40px;
    }

    #menu {
        width: 0;
    }
}