<div id="menu">
    <div *ngIf="isUser==1">
        <a href="/modulos">
            <div class="block" [ngClass]="{'selected': activeTab == '/modulos'}">
                <i class="fa white fa-book"></i>
                <p class="white">{{ 'menu.modulos' | translate }}</p>
            </div>
        </a>

        <a href="/encuestas">
            <div class="block" [ngClass]="{'selected': activeTab== '/encuestas'}">
                <i class="fa white fa-check"></i>
                <p class="white">{{ 'menu.encuestas' | translate }}</p>
            </div>
        </a>

        <a href="/carrito">
            <div class="block" [ngClass]="{'selected': activeTab== '/carrito'}">
                <i class="fa white fa-shopping-cart"></i>
                <p class="white" name="cart" ngDefaultControl [(ngModel)]="cart">({{cart}}) {{ 'menu.carrito' | translate }}</p>
            </div>
        </a>

        <a href="/settings">
            <div class="block" [ngClass]="{'selected': activeTab== '/settings'}">
                <i class="fa white fa-gear"></i>
                <p class="white">{{ 'menu.ajustes' | translate }}</p>
            </div>
        </a>
    </div>


    <div *ngIf="isUser==0">
        <a href="/adminhome">
            <div class="block" [ngClass]="{'selected': activeTab == '/adminhome'}">
                <i class="fa white fa-home"></i>
                <p class="white">Home</p>
            </div>
        </a>

        <a href="/graphs">
            <div class="block" [ngClass]="{'selected': activeTab== '/graphs'}">
                <i class="fas white fa-chart-bar"></i>
                <p class="white">{{ 'menu.reportes' | translate }}</p>
            </div>
        </a>

        <a href="/settingsAdmin">
            <div class="block" [ngClass]="{'selected': activeTab== '/settingsAdmin'}">
                <i class="fa white fa-gear"></i>
                <p class="white">{{ 'menu.ajustes' | translate }}</p>
            </div>
        </a>
    </div>
    <a href="/">
        <div class="block last">
            <i class="fas fa-outdent white"></i>
            <p class="white">{{ 'menu.salir' | translate }}</p>
        </div>
    </a>
</div>

<span id="mobile-menu" (click)="toggleMenu()"></span>