<div id="menu">
    <a *ngFor="let mod of menu" href="{{mod.link}}">
        <div class="block" [ngClass]="{'selected':mod.link == activeTab}">
            <i class="fa white {{mod.icon}}"></i>
            <p class="white">{{mod.text}}</p>
        </div>
    </a>


    <a href="/">
        <div class="block last">
            <i class="fa fa-sign-out white"></i>
            <p class="white">{{ 'menu.salir' | translate }}</p>
        </div>
    </a>
</div>

<span id="mobile-menu" (click)="toggleMenu()"></span>