@import '../../styles.scss';

@mixin containImg {
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



h3 {
    font-size: 16px;
}

p,
h1,
h2,
h3,
a {
    font-family: $Poppins;
    color: $darkgray;
}


.row {
    width: 90%;
    margin: 0 auto !important;
    padding: 0 !important;
}

.card:hover {
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);

}

.card {
    background-color: $white;
    width: 100%;
    height: 450px;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: relative;

    h3 {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .avatar {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        position: absolute;
        top: 33%;
        right: 10%;
        z-index: 1;
        @include containImg;
    }

    .image-container {
        width: 100%;
        height: 225px;
        position: relative;
        border-radius: 10px 10px 0 0;
        @include containImg;
    }

    .detail {
        width: 100%;
        height: 50px;
        background-color: $white;
        position: absolute;
        bottom: -45px;
        transform: scale(2) rotate(-3deg);
    }

    .text {
        padding: 0 40px;
        line-height: 25px;
        height: 160px;
        overflow: hidden;

        p,
        h3 {
            color: $darkgray;
        }
    }

    .footer {
        padding-top: 10px;
        bottom: 20px;
        left: 0;
        width: 100%;
        position: absolute;
        padding-left: 40px;

        .a {
            color: $pink;
            font-size:13px;

        }

        .note {
            position: absolute;
            bottom: 0;
            right: 20px;
            opacity: .3;
            font-size:13px;
        }

    }

}


@media(max-width: 560px) {
    .card h3 {
        font-size: 20px !important;
    }

    .card p,
    .footer a {
        font-size: 14px !important;
    }

}