<div class="card">
    <div (click)="alert()" class="avatar" [ngStyle]="{ 'background-image': 'url(' + data.avatar + ')'}" placement="bottom" ngbTooltip="{{data.author}}"></div>
    <a href="/">
        <div class="image-container" [ngStyle]="{ 'background-image': 'url(' + data.banner + ')'}">
            <div class="detail"></div>
        </div>

        <div class="text">
            <h3>{{data.title}}</h3>
            <p>{{data.text}}</p>
        </div>
        <div class="footer">
            <p class="a">Leer más...</p>
            <!--                    <p class="note">Por: {{author}}</p>-->
            <p class="note">Creado: {{data.date}}</p>
        </div>
    </a>

</div>