 <div id="background-carousel">
     <mdb-carousel [isControls]="false" [animation]="'slide'">
         <mdb-carousel-item *ngFor="let image of images">
             <div class="car" [ngStyle]="{ 'background-image': 'url(' + image + ')'}">
                 <p>a</p>
             </div>
         </mdb-carousel-item>
     </mdb-carousel>
 </div>

 <div class="space"></div>
 <div class="dim"></div>
 <div class="wrapper container">
     <div class="row justify-content-center">
         <div class="col-sm-6">
             <img src="/assets/sexplainedWhite.svg" />
         </div>
     </div>
     <div class="row">
         <div class="col-lg-6 col-md-8 col-sm-12" id="logIn">
             <form>
                 <div class="form-group">
                     <label for="correoReg" class="whiteText">Correo</label>
                     <input type="email" class="form-control" id="correoReg" placeholder="Ingresa tu correo">
                 </div>
                 <div class="form-group">
                     <label for="passwordReg" class="whiteText">Contraseña</label>
                     <input type="password" class="form-control" id="passwordReg" placeholder="Ingresa tu contraseña">
                 </div>
                 <div class="form-check">
                     <input type="checkbox" class="form-check-input" id="exampleCheck1">
                     <label class="form-check-label whiteText" for="exampleCheck1">No cerrar sesión</label>
                 </div>
                 <a href="modulos.html">
                     <div class="btn whiteText centered logInBtn"><b>Ingresar</b></div>
                 </a>

             </form>
         </div>
     </div>
     <div class="row">
         <div class="col-sm-12">
             <p class="whiteText centerText">¿No tienes un usuario?<br><a href="/registro" class="pinkText"><u>Crea una cuenta</u></a></p>
         </div>
     </div>
 </div>