 <div id="background-carousel">
     <mdb-carousel [isControls]="false" [animation]="'slide'">
         <mdb-carousel-item *ngFor="let image of images">
             <div class="car" [ngStyle]="{ 'background-image': 'url(' + image + ')'}">
                 <p>a</p>
             </div>
         </mdb-carousel-item>
     </mdb-carousel>
 </div>

 <div class="space"></div>
 <div class="dim"></div>
 <div class="wrapper container">
     <div class="row justify-content-center">
         <div class="col-sm-6">
             <img src="/assets/sexplainedWhite.svg" />
         </div>
     </div>
     <div class="row">
         <div class="col-lg-6 col-md-8 col-sm-12" id="logIn">
             <form #formulario ="ngForm" (ngSubmit)="enviarFormulario()">
                 <div class="form-group">
                     <label for="mail" class="whiteText">Correo</label>
                     <input type="email" class="form-control" id="mail" name="mail" placeholder="Ingresa tu correo" [(ngModel)]="usuario.mail">
                 </div>
                 <div class="form-group">
                     <label for="password" class="whiteText">Contraseña</label>
                     <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu contraseña" [(ngModel)]="usuario.password">
                 </div>
                 <div class="form-check">
                     <input type="checkbox" class="form-check-input" id="exampleCheck1">
                     <label class="form-check-label whiteText" for="exampleCheck1">No cerrar sesión</label>
                 </div>
                 <div class="centerText whiteText" id="passCheckLabel">    No existe usuario con esas credenciales. </div>
                 <input type="submit" class="btn btn-primary centered logInBtn" value="Ingresar">

             </form>
         </div>
     </div>
     <div class="row">
         <div class="col-sm-12">
             <p class="whiteText centerText">¿No tienes un usuario?<br><a href="/registro" class="pinkText"><u>Crea una cuenta</u></a></p>
         </div>
     </div>
 </div>