<div class="wrapper container">
	        <div class="row">
	            <div class="col-sm-12">
	                <h1 class="centerText whiteText" id="mainTitle">Sexplain<span style="color: #EC4E91">Ed</span></h1>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-sm-12">
	                <p class="whiteText centerText" style="margin-top: 30px;">Elige tu rol</p>
	            </div>
	        </div>
	        <div class="row d-flex justify-content-center" style="width: 80%; margin: auto;">
	            <div class="col-md-6 col-sm-12">
	                <a href="/registroExperto">
	                    <div class="roleBtn"><img src="../../assets/images/experto.png" alt="" class="centerImg chooseImg">
	                        <p class="centerText roleText pinkText"><b>EXPERTO</b></p>
	                    </div>
	                </a>
	            </div>
	            <div class="col-md-6 col-sm-12">
	                <a href="/registroUsuario">
	                    <div class="roleBtn"><img src="../../assets/images/usuario.png" class="centerImg chooseImg" alt="">
	                        <p class="centerText roleText pinkText"><b>USUARIO</b></p>
	                    </div>
	                </a>
	            </div>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-sm-12">
	            <p class="whiteText centerText" style="margin-top: 30px;">¿Ya tienes un usuario?<br><a href="/" class="pinkText"><u>Iniciar Sesión</u></a></p>
	        </div>
	    </div>
	    <img src="../../assets/images/ovulo.png" id="bgImg1" alt="">
	    <img src="../../assets/images/espermas.png" id="bgImg2" alt="">