<app-sidemenu cart={{size}} activeTab="/carrito"></app-sidemenu>
<div class="home">
    <img src="/assets/sexplained.svg">
    <div class="container">
        <div *ngFor="let card of cards" class="cursor" (click)="open(content,card)">
            <app-shop-item banner="{{card.banner}}" title="{{card.title}}" text="{{card.text}}" price="{{card.price}}"></app-shop-item>
        </div>
        <div class="price">
            <p>Total: <strong>${{totalPrice}}</strong></p>
                <button (click)="pay()" class="button">Pagar</button>

        </div>
    </div>

</div>



<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ 'payment.title' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>{{ 'payment.rmv' | translate:{ product: currentProduct } }}</p>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="modal.dismiss('')">{{ 'payment.cancelar' | translate}}</button>
        <button type="button" class="full" (click)="modal.dismiss('remove')">{{ 'payment.aceptar' | translate}}</button>
    </div>
</ng-template>
